<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- Disable static and dynamic compression to prevent binary file corruption -->
      <urlCompression doStaticCompression="false" doDynamicCompression="false" />

      <handlers>
        <remove name="php-8.2.6" />
        <remove name="PHP_via_FastCGI" />
        <remove name="PHP-FastCGI" />
        <remove name="phpCGI" />
        <remove name="PHP80_via_FastCGI" />
        <remove name="PHP81_via_FastCGI" />
        <remove name="PHP82_via_FastCGI" />
        <remove name="PHP83_via_FastCGI" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Infostacker.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      
      <!-- Request filtering for large file uploads -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="104857600" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
