<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>

      <handlers>
        <remove name="php-8.2.6" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" requireAccess="Script" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ShareAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

      <cors enabled="true" failUnlistedOrigins="true">
        <add origin="*">
          <allowMethods>
            <add method="GET" />
            <add method="POST" />
            <add method="PUT" />
            <add method="DELETE" />
          </allowMethods>
        </add>
      </cors>
    </system.webServer>
  </location>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>